################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Activitate/Activitate/Activitate.vcxproj.filters
/Activitate/.vs/Activitate
